html, body {
  margin: 0px;
  padding: 0px;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0px;
  text-align: center;
  background-color: #fafafa;
  background-image: radial-gradient( #dde1e4 1px, transparent 1px );
  background-size: 16px 16px;
}

h1 {
  font-weight: 700;
  font-size: 3em;
  color: #333;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 10px;
  font-weight: 400;
  color: #666666;
  font-size: 2em;
  margin: -20px 20px 30px 20px;
}

.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Company-Container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 64rem;
}

.Company {
  margin-top: 4vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Results {
  background-color: white;
  padding: 20px;
  margin: 12px;
  width: 215px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
}

/* .Results:hover {
  opacity: 0.85;
  background-color: #f9efef;
} */

form {
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

input {
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  text-align: -webkit-center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

input:focus {
  outline: 0;
  background-color: #FFF;
}

@media screen and (min-width: 375px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
}